.header{
  height: 15%;
  border-bottom: solid;
  background-color: rgba(0,0,0, 0.5);
  -webkit-animation: animateBorder 1.5s ease-in-out infinite alternate;
  -moz-animation: animateBorder 1.5s ease-in-out infinite alternate;
  animation: animateBorder 1.5s ease-in-out infinite alternate;
}

.logo{
  font-size: 10.2em;
  font-weight: bolder;
  color: rgba(241, 196, 15,1.0);
  font-family: Iceland;
  cursor: pointer;
  /*-webkit-animation: animate 1.5s ease-in-out infinite alternate;
  -moz-animation: animate 1.5s ease-in-out infinite alternate;
  animation: animate 1.5s ease-in-out infinite alternate;*/
}

.logo:hover{
  color: #fff;
}



@-webkit-keyframes animate {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-moz-keyframes animate {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes animate {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-webkit-keyframes animateBorder {
  from {
    box-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #C0392B, 0 0 17.5px #C0392B, 0 0 20px #C0392B, 0 0 25px #C0392B, 0 0 37.5px #C0392B;
  }
  to {
    box-shadow: 0 0 1.25px #fff, 0 0 2.5px #fff, 0 0 3.75px #fff, 0 0 5px #C0392B, 0 0 8.75px #C0392B, 0 0 10px #C0392B, 0 0 12.5px #C0392B, 0 0 18.75px #C0392B;
  }
}

@-moz-keyframes animateBorder {
  from {
    box-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #C0392B, 0 0 17.5px #C0392B, 0 0 20px #C0392B, 0 0 25px #C0392B, 0 0 37.5px #C0392B;
  }
  to {
    box-shadow: 0 0 1.25px #fff, 0 0 2.5px #fff, 0 0 3.75px #fff, 0 0 5px #C0392B, 0 0 8.75px #C0392B, 0 0 10px #C0392B, 0 0 12.5px #C0392B, 0 0 18.75px #C0392B;
  }
}

@keyframes animateBorder {
  from {
    box-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #C0392B, 0 0 17.5px #C0392B, 0 0 20px #C0392B, 0 0 25px #C0392B, 0 0 37.5px #C0392B;
  }
  to {
    box-shadow: 0 0 1.25px #fff, 0 0 2.5px #fff, 0 0 3.75px #fff, 0 0 5px #C0392B, 0 0 8.75px #C0392B, 0 0 10px #C0392B, 0 0 12.5px #C0392B, 0 0 18.75px #C0392B;
  }
}
