.leaderboard_style > *{
  font-family: Audiowide;
  color: white;
  font-size: 1.3em;
}

.leaderboard_title{
  color: rgba(241, 196, 15,1.0);
  font-weight: bold;
  text-decoration: underline;
}

.leaderboard_win{
  color: rgb(34,141,255);
}

.leaderboard_loss{
  color: rgb(192,57,43);
}

.leaderboard_tie{
  color: rgb(241, 196, 15);
}

.leaderboard_stat_pad{
  padding: 16px;
}

.quit_btn{
  font-family: Audiowide;
  height: 110px;
  background-color: rgb(192,57,43) !important;
}

.quit_message{
  padding: 5px 50px 5px 50px;
}
