.play_row_height{
  height: 75%;
  width: 100%;
  margin-top: 10px;
  background-color: red;
}

.dealer{
  height: 37.5%;
  /*background-color: green;*/
}

.player{
  height: 37.5%;
  /*background-color: blue;*/
}

.play_buttons{
  height: 23%;
  text-align: center;
  /*background-color: yellow;*/
}

.play_text{
  text-align: center;
}

.orange_text{
  font-family: Audiowide;
  font-weight: bolder;
  font-size: 3.5em;
  text-decoration: underline;
  color: rgb(255,153,0);
}

.yellow_text{
  font-family: Audiowide;
  font-weight: bolder;
  font-size: 3.5em;
  text-decoration: underline;
  color: rgba(241, 196, 15,1.0);
}

.green_text{
  font-family: Audiowide;
  font-weight: bold;
  font-size: 2.5em;
  color: rgba(46, 204, 113,1.0);
}

.blue_text{
  font-family: Audiowide;
  font-weight: bolder;
  font-size: 2.5em;
  color: rgb(34,141,255);
  text-transform: capitalize;
}

.red_text{
  font-family: Audiowide;
  font-weight: bolder;
  font-size: 2.5em;
  color: rgba(192, 57, 43,1.0);
  text-transform: capitalize;
}

.cardStyle{
  width: 10%;
  margin-left: 200px;
}
.cardStyle2{
  width: 10%;
  margin-left: -45px;
}

.bet25{
  font-family: Audiowide;
  font-weight: bold;
  height: 70px !important;
  width: 70px !important;
  /*border: 3.5px dashed blue;*/
}

.bet50{
  font-family: Audiowide;
  font-weight: bold;
  height: 90px !important;
  width: 90px !important;
  /*border: 3.5px dashed green;*/
}

.bet100{
  font-family: Audiowide;
  font-weight: bold;
  height: 110px !important;
  width: 110px !important;
  /*border: 3.5px dashed white;*/
}

.hit{
  margin-left: 275px;
}

.hitNStand{
  font-family: Audiowide;
  font-weight: bold;
  height: 90px !important;
  width: 115px !important;
}

.stand{
  color: black !important;
}

.win{
  font-size: 10em;
}

.loss{
  font-size: 10em;
}

.tie{
  font-size: 10em;
  text-decoration: none;
}

.collect_btn{
  height: 100px;
  width: 300px;
  font-family: Audiowide;
  color: white;
  font-weight: bold;
  font-size: 2em;
  -webkit-animation: greenPulse 2s infinite alternate;
  -moz-animation: greenPulse 2s infinite alternate;
  animation: greenPulse 2s infinite alternate;
}

.loss_btn{
  height: 100px;
  width: 300px;
  font-family: Audiowide;
  color: white;
  font-weight: bold;
  font-size: 2em;
  -webkit-animation: redPulse 2s infinite alternate;
  -moz-animation: redPulse 2s infinite alternate;
  animation: redPulse 2s infinite alternate;
}

.tie_btn{
  height: 100px;
  width: 300px;
  font-family: Audiowide;
  color: white;
  font-weight: bold;
  font-size: 2em;
  -webkit-animation: orangePulse 2s infinite alternate;
  -moz-animation: orangePulse 2s infinite alternate;
  animation: orangePulse 2s infinite alternate;
}

.underline_text{
  text-decoration: underline;
}

.deckDisplay{
  padding: 10px;
  font-family: Audiowide;
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.deckDisplayImage{
  height: 35px;
  width: 35px;
}


@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
@keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes redPulse {
  from { background-color: #e67e22; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #d35400; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #c0392b; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes redPulse {
  from { background-color: #e67e22; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #d35400; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #c0392b; -webkit-box-shadow: 0 0 9px #333; }
}
@keyframes redPulse {
  from { background-color: #e67e22; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #d35400; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #c0392b; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangePulse {
  from { background-color: #f1c40f; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #f1c40f; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #f39c12; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes orangePulse {
  from { background-color: #f1c40f; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #f1c40f; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #f39c12; -webkit-box-shadow: 0 0 9px #333; }
}
@keyframes orangePulse {
  from { background-color: #f1c40f; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #f1c40f; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #f39c12; -webkit-box-shadow: 0 0 9px #333; }
}
