.play_row_height{
  height: 75%;
  width: 100%;
  margin-top: 10px;
  background-color: red;
}

.dealer{
  height: 37.5%;
  /*background-color: green;*/
}

.player{
  height: 37.5%;
  /*background-color: blue;*/
}

.play_buttons{
  height: 23%;
  text-align: center;
  /*background-color: yellow;*/
}

.play_text{
  text-align: center;
}

.orange_text{
  font-family: Audiowide;
  font-weight: bolder;
  font-size: 3.5em;
  text-decoration: underline;
  color: rgb(255,153,0);
}

.green_text{
  font-family: Audiowide;
  font-weight: bold;
  font-size: 2.5em;
  color: rgba(46, 204, 113,1.0);
}

.blue_text{
  font-family: Audiowide;
  font-weight: bolder;
  font-size: 2.5em;
  color: rgb(34,141,255);
  text-transform: capitalize;
}

.red_text{
  font-family: Audiowide;
  font-weight: bolder;
  font-size: 2.5em;
  color: rgba(192, 57, 43,1.0);
  text-transform: capitalize;
}

.cardStyle{
  width: 10%;
  margin-left: 200px;
}
.cardStyle2{
  width: 10%;
  margin-left: -45px;
}

.bet25{
  height: 70px !important;
  width: 70px !important;
  border: 3.5px dashed blue;
}

.bet50{
  height: 90px !important;
  width: 90px !important;
  border: 3.5px dashed white;
}

.bet100{
  height: 110px !important;
  width: 110px !important;
  border: 3.5px dashed white;
}

.hit{
  margin-left: 275px;
}

.hitNStand{
  height: 90px !important;
  width: 115px !important;
}

.stand{
  color: black !important;
}
