.register_form_style{
  background-color: transparent;
}

.register_button_size{
  margin-top: 10px;
  height: 75px;
}

.register_button_style{
  height: 100%;
  outline: 0px;
  border: 0px;
  font-family: Audiowide;
  font-size: 3.5em;
  text-align: center;
  color: white;
  background:linear-gradient( to top right, rgba(63,81,181,1) 0%, rgba(3,155,229 ,1) 40%);
  box-shadow: 1px 1px 30px rgba(2,119,189 ,1);
}

.input_box_style{
  height: 100px;
  width: 500px;
  font-family: Audiowide;
  color: rgb(255,153,0);
  background-color: rgba(34,34,34,0);
  font-size: 3.5em;
  text-align: center;
  outline: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid rgb(34,141,255);
  border-left: 0px;
}
