<div layout="row" layout-align="center center" class="middle">

 <div layout="column" ng-cloak class="md-inline-form">
   <md-content layout-padding class="register_form_style">
     <div ng-if="$ctrl.error" class="red_text" style="text-align: center">
       {{$ctrl.message}}
     </div>
     <div>
       <form name="register_form" class="" method="POST" ng-submit="$ctrl.register()">
         <input class="input_box_style" ng-model="$ctrl.username.name" placeholder="Username" minlength="1" maxlength="10">
         <div layout="row" layout-align="center center" class="register_button_size">
           <input flex="grow" class="register_button_style" type="submit" name="" value="Register">
         </div>
       </form>
     </div>
   </md-content>

</div>
