<div layout="row" layout-align="center center" class="middle">

 <div layout="column" ng-cloak class="md-inline-form">
   <md-content layout-padding class="register_form_style">
     <div ng-if="$ctrl.error" class="red_text" style="text-align: center">
       {{$ctrl.message}}
     </div>
     <div>
       <form name="register_form" class="" method="POST" ng-submit="$ctrl.register()">
         <input flex="grow" class="input_box_style" ng-model="$ctrl.username.name" placeholder="Username" minlength="1" maxlength="10">
         <div layout="row" layout-align="center center" class="register_button_size">
           <input flex="grow" class="register_button_style" type="submit" name="" value="Register">
         </div>
       </form>
     </div>
   </md-content>
   <div class="yellow_text how_to">
     How To Play
   </div>
   <div class="instructions">
    - Register an account -
   </div>
   <div class="instructions">
    - Place bet -
   </div>
   <div class="instructions">
    - Get as close to 21 -
   </div>
   <div class="instructions">
    - Climb your way to the leaderboards! -
   </div>
   <div class="instructions">
    - Don't go bankrupt! -
   </div>
</div>
